@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Arimo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Arimo-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Arimo-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/Arimo-BoldItalic.ttf") format('truetype');
}