@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    color: #c10202;
}

.bg-primary-color {
    background-color: #c10202;
    color: white;
}
input, textarea, select {
	background-color: revert !important;
}